<header class="navbar navbar-dark navbar-expand-md bg-dark fixed-top">
  <div class="container">

    <a routerLink="/" class="navbar-brand">{{ appName }}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks"
      aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarLinks">
      <nav class="navbar-nav">
        <a routerLink="/login" *ngIf="!isLoggedIn()" class="nav-item nav-link">Login</a>
        <a routerLink="/profile" *ngIf="isLoggedIn()" class="nav-item nav-link">Profile</a>
        <a routerLink="/logout" *ngIf="isLoggedIn()" class="nav-item nav-link">Logout</a>
      </nav>
    </div>

  </div>
</header>

<main class="pt-5 mt-5">
  <router-outlet></router-outlet>
</main>